@import 'constants/colors';
@import 'constants/typography';

@import 'base/fonts';
@import 'base/normalize';
@import 'base/reset';

$test1: 1;
$test2: color 200ms ease-in-out;
$test3: url('./assets/images/logo.svg');

p {
  justify-content: space-between;
  line-height: $test1;
  transition: $test2;
}

span {
  line-height: $test1;
}
